@model Home.Models.Entity.Usuario

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-user"></i>
            <a href="@Url.Action("Index", "Perfil")">Perfil</a>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="~/assets/img/placeholder.jpg" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.NomeCompleto
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.Curso.Nome
                    </div>
                    <br />
                </div>
            </div>
            <div class="portlet light">
                @*<div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Postagens
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            Eventos
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            Comentarios
                        </div>
                    </div>
                </div>*@
                <div>
                    <h4 class="profile-desc-title">Informações do Curso</h4>
                    <span class="profile-desc-text"> Rgm: @Model.Rgm </span>
                    <br />
                    <span class="profile-desc-text"> Inicio do Curso: @Model.NomeDataInicioCurso </span>
                </div>
            </div>
        </div>
        <div class="profile-content">
            @(ViewBag.IsUsuarioLogado ? Html.Partial("_Editar") : Html.Partial("_Visualizar", Model))
        </div>
    </div>
</div>
<script>

    $("#MenuLateral li.start.active.open").removeClass("start active open");

</script>
